@import "tailwindcss";

:root {
  --background: #f6f6f1;
  --foreground: #141311;
  --color-stone-950: #0d0d0c;
  --color-clay-600: #171717;
  --color-clay-700: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-stone-950: var(--color-stone-950);
  --color-clay-600: var(--color-clay-600);
  --color-clay-700: var(--color-clay-700);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
